@model capaEntidad.DEPARTAMENTO

@{
    ViewBag.Title = "Elimar Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminacion</h2>

<h4>DEPARTAMENTO</h4>
<div>
    <h4>Esta seguro que desea eliminarlo?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_DEPARTAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DEPARTAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_DPTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_DPTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIGLAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIGLAS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" />
<a class="btn btn-info btn-sm" href="@Url.Action("Details","Departamentos", new { id= Model.ID_DEPARTAMENTO})">
    <i class="glyphicon glyphicon-arrow-left"></i>
    Regresar a la Lista
</a>
</div>
    }
</div>
