@model capaEntidad.DOCUMENTO

@{
    ViewBag.Title = "Elimar Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminacion</h2>

<h4>Documento</h4>
<div>
    <h4>Esta seguro que desea eliminarlo?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UP_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UP_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO_ORIGEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO_ORIGEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO_DESTINO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO_DESTINO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a class="btn btn-info btn-sm" href="@Url.Action("Details","GeneradorDoc", new { id= Model.ID_DOCUMENTO})">
                <i class="glyphicon glyphicon-arrow-left"></i>
                Regresar a la Lista
            </a>
        </div>
            }
        </div>
